# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

homework-1/.vscode/launch.json
homework-1/__debug_bin
homework-2/__debug_bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
